* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("p1.png") no-repeat center center;
    background-size: cover;
    background-attachment: absolute;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000000;
}

header .logo {
    font-weight: 700;
    color: #323030;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -4px 5px 8px #dfa7a7;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
    color: #fff;
}

header.sticky {
    background-color: #dfa7a7;
}

.cart-container {
    margin: 120px auto;
    width: 90%;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    margin-top: 250px;
}

.cart-container h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.cart-container ul {
    list-style: none;
    padding: 0;
}

.cart-container ul li {
    font-size: 1.2rem;
    color: #555;
    margin: 10px 0;
}

.cart-total {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #dbb7b7;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b29090;
}
